:root{
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --white: #FFFFFF;
    --black: #000000;
    --small: 1.4rem;
    --med: 1.6rem;
    --big: 1.8rem;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

.login, .container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container, .body-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.body-container{
    justify-items: center;
}

.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.title{
    font-size: var(--big);
    margin-bottom: 12px;
    text-align: center;
}

.subtitle{
    color: var(--very-light-pink);
    font-size: var(--med);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
    text-align: center;
}

.label{
    font-size: var(--small);
    font-weight: bold;
    margin-bottom: 4px;
}
.input{
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--med);
    padding: 6px;
    margin-bottom: 28px;
}

form{
    display: flex;
    flex-direction: column;
}

.primary-button{
    background-color: var(--hospital-green);
    border: none;
    border-radius: 8px;
    color: var(--white);
    width: 100%;
    height: 50px;
    margin-bottom: 32px;
    font-size: var(--med);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.email-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-input-field);
    height: 132px;
    width: 132px;
    border-radius: 66px;
    margin-bottom: 32px;
}

.email-image img{
    width: 80px;
}

.resend{
    font-size: var(--med);
}

.resend span{
    color: var(--very-light-pink);
}

.resend a{
    color: var(--hospital-green);
    text-decoration: none;
}

.forgot-password{
    color: var(--hospital-green);
    text-decoration: none;
    font-size: var(--small);
    text-align: center;
    margin-bottom: 58px;
}

.secundary-button{
    width: 100%;
    background-color: var(--white);
    font-size: var(--med);
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    height: 50px;
}

.title-left{
    text-align: start;
    margin-bottom: 47px;
}

.form-container form div{
    display: flex;
    flex-direction: column;
}

.value{
    color: var(--very-light-pink);
    font-size: var(--med);
    margin: 8px 0 32px 0;
    padding: 10px;
    background-color: var(--text-input-field);
    border-radius: 10px;
}

/*INICIO*/

.container-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}
.product-cards{
    width: 240px;
}

.product-cards img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info figure{
    margin: 0;
}

.product-info figure img{
    width: 40px;
    height: 40px;

}

.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--med);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-info div p:nth-child(2){
    font-size: var(--small);
    margin-top:0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

/*nav desktop*/

.desktop-menu{
    width: 150px;
    height: auto;
    border: 1px solid var(--very-light-pink);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}

.desktop-menu ul{
    list-style: none;
}

.desktop-menu ul li{
    text-align: end;
}

.desktop-menu ul li a{
    text-decoration: none;
    color: var(--black);
    display: inline-block;
    margin-bottom: 20px;
}

.desktop-menu ul li:last-child{
    padding-top: 20px;
    border-top: 1px solid var(--very-light-pink);
}

.desktop-menu ul li:last-child a{
    color: var(--hospital-green);
    font-size: var(--small);
}

/*Mobile-menu*/

.menu-mobile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 24px;
}

.menu-mobile ul{
    list-style: none;
    margin: 24px 0 0;
}

.menu-mobile ul li{
    margin-bottom: 24px;
    font-size: var(--med);
}

.menu-mobile a{
    text-decoration: none;
    color: var(--black);
    font-weight: bold;
}

.menu-mobile .email{
    font-size: var(--small);
    font-weight: 300;
}

.menu-mobile ul:nth-child(1){
    border-bottom: 1px solid var(--very-light-pink);   
}

.menu-mobile .sign-out{
    font-size: var(--small);
    color: var(--hospital-green);
}

/*vista my order*/

.my-order{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.title-my-order{
    font-size: var(--big);
    font-weight: bold;
    margin-bottom: 40px;
}

.my-order-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.my-order-content{
    display: flex;
    flex-direction: column;
}

.order{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--text-input-field);
    padding: 16px 18px;
    border-radius: 10px;
    margin-bottom: 24px;

}

.order p:nth-child(1),
.orders p:nth-child(1){
    display: flex;
    flex-direction: column;

}

.order p:nth-child(2),
.orders p:nth-child(2){
    text-align: end;
    font-size: var(--med);
    font-weight: bold;
}

.order p span:nth-child(1),
.orders p span:nth-child(1){
   font-size: var(--med);
   font-weight: bold;
}

.order p span:nth-child(2),
.orders p span:nth-child(2){
    font-size: var(--small);
    color: var(--very-light-pink);
 }

.shopping-cart{
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    align-items: center;
    margin-bottom: 20px;
}

.shopping-cart figure img{
    width: 79px;
    height: 79px;
    border-radius: 20px;
    object-fit: cover;
}

.shopping-cart p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--small);
}

.shopping-cart p:nth-child(3){
    font-weight: bold;
    color: var(--black);
    font-size: var(--med);
}

/*my orders*/

.orders{
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 16px;
    align-items: center;
    margin-bottom: 12px;
}

/*navbar*/

.menu{
    display: none;
}

.logo-navbar{
    width: 100px;
}

nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--text-input-field);
}

.navbar-left{
    display: flex;
}

.navbar-right ul .navbar-email{
    display: flex;
}

.navbar-left ul, 
.navbar-right ul{
    display: flex;
    list-style: none;
    align-items: center;
    height: 60px;
}

.navbar-left ul{
    margin-left: 12px;
}

.navbar-left ul li a, 
.navbar-right ul li a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--white);
    font-size: var(--small);
    padding: 8px;
    border-radius: 10px;
}

.navbar-left ul li a:hover, 
.navbar-right ul li a:hover{
    color: var(--hospital-green);
    border: 1px solid var(--hospital-green);
}

.navbar-email{
    color: var(--black);
    font-size: var(--small);
    margin-right: 12px;
}

.navbar-email img{
    margin-left: 5px;
}

.navbar-shopping-cart{
    position: relative;
}

.navbar-shopping-cart div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    background-color: var(--hospital-green);
    border-radius: 8px;
    font-size: var(--small);
    color: var(--white);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
}
.arrow-bottom{
    width: 5px;
    transform: rotate(90deg);
}

/*product*/

.add-to-cart-button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-detail{
    position: absolute;
    right: 0px;
    width: 360px;
    padding-bottom: 24px;
}

.product-detail-close{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 12px;
    background-color: var(--white);
    width: 40px;
    height: 40px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}

.product-detail-close:hover{
    cursor: pointer;
}

.product-detail > img:nth-child(2){
    width: 100%;
    height: 360px;
    object-fit: cover;
}

.info-product{
    margin: 0 24px;
}

.info-product p:nth-child(1){
    font-size: var(--med);
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 4px;
}

.info-product p:nth-child(2){
    color: var(--very-light-pink);
    font-size: var(--med);
    margin-bottom: 20px;
}

.info-product p:nth-child(3){
    color: var(--very-light-pink);
    font-size: var(--med);
    margin-bottom: 40px;
}

/*shopping cart*/

.shopping-cart-detail{
    padding: 24px;
}

.title-container{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.title-container img{
    width: 24px;
    height: 16px;
    margin-right: 24px;
}

.title-shopping-cart{
    font-size: var(--big);
    font-weight: bold;

}

.order .total{
    font-size: var(--med);
    font-weight: bold;
}


@media (max-width: 640px) {
    .logo{
        display: block;
    }
    .forgot-password{
        margin-bottom: 154px;
    }
    .form-container-my-account{
        height: 100%;
    }
    .form-container-my-account form{
        height: 100%;
        justify-content: space-between;
    }
    .container-cards{
        display: grid;
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-cards{
        width: 140px;
    }
    .product-cards img{
        width: 140px;
        height: 140px;
        
    }
    .menu{
        display: block;
    }
    .navbar-left ul{
        display: none;
    }
    .navbar-right ul .navbar-email{
        display: none;
    }
}
